#patienceSortVisualizer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid black;
  border-radius: 30px;
  height: 100%;
  background-color: #717171;
  color: white;
  margin: 0 auto;
  padding: 20px;
}

#unsortedGridContainer,
#sortedGridContainer {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

#pilesGridContainer {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
