body {
  background-color: #a6a6a6;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
}

button,
#patienceSortSubmitBtn,
#reloadBtn {
  background-color: #3a51b9;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border: #3a51b9;
  border-radius: 12px;
}
